.MainLayoutContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--bg);
}

.ContentWithHeader {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.ContentWrapper {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
