# Configs
config/dev.yaml

# Dependency directories (remove the comment below to include it)
# vendor/
.idea

private.key

test

dist
node_modules
proto_deps
/pkg/VelezWeb/.idea/

*.local
proto_modules