@import url(https://fonts.googleapis.com/icon?family=Comfortaa);

* {
    font-family: 'Comfortaa', sans-serif;
}

html, root, body {
    width: 100%;
    height: 100%;
}

root, body {
    margin: 0;
    background: var(--main-bg-color);
    overflow-x: hidden;
}

:root {
    --main-bg-color: rgb(23, 23, 23);
    --accent-bg-color: rgba(128, 209, 236, 0.65);
    --secondary-accent-bg-color: rgba(89, 146, 165, 0.65);
    --secondary-bg-color: rgb(233, 234, 234);

    --accent-fg-color: rgb(111, 111, 200);

    --quote-background: rgb(171, 171, 171);
    --main-fg-color: #dadada;
    --secondary-fg-color: var(--main-bg-color);

    --disabled-bg-color: #616161;

    --action-button-size: 1.75em;

    --border-radius: 0.5em;

    --error-color: rgb(239, 90, 113);
    --warning-color: rgb(243, 204, 24);
    --info-color: rgb(168, 232, 203);

    --page-header-vh: 4vh;
}

:root {
    --ping-unknown: rgb(243, 204, 24);
    --ping-health: rgb(48, 138, 35);
    --ping-disabled: rgb(177, 26, 53);
}

/*TODO: DO FOR different screen sizes*/
* {
    font-size: 24px;
    color: var(--main-fg-color);
}
