.DialogContainer {
    width: 30vw;
    height: 80vh;

    display: block;
    scale: 0;

    position: fixed;
    top: 50%;
    left: 50%;

    border: var(--main-fg-color) solid 1px;
    border-radius: var(--border-radius);
    background: var(--main-bg-color);

    transition: scale 0.25s ease;

    transform-origin: left top;

    transform: translate(-50%, -50%);

    &.isOpen {
        display: block;
        scale: 1;
    }

    .Content {
        display: flex;
        justify-content: center;
        box-sizing: border-box;

        padding: 2em;

        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .CloseButton {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        cursor: pointer;
    }
}
