.ServicePageSkeletonContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.ContentWrapper {
    flex: 1;
    overflow-y: auto;
    padding: 1.375rem 1.75rem 3.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
}
