.EnableStatefullModeContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;


    .HeaderWrapper {
        font-size: 1.50em;
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .SettingsWrapper {
        display: flex;
        gap: 1em;
        flex-direction: column;
        box-sizing: border-box;

        .PortToggleWrapper {
            width: 12em;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;

            cursor: pointer;
        }

        .ExposeToPortWrapper {
            width: 12em;
            display: flex;
            align-items: center;
            gap: 0.5em;

            img {
                height: 1em;
            }
        }


    }
}
