.SmerdPageContainer {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1em;

    box-sizing: border-box;

    gap: 2em;
}

.Header {
    width: 100%;
    height: 6vh;

    border-bottom: 1px solid darkcyan;

    display: flex;
    justify-content: start;
    align-items: center;
}

.Body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    gap: 2em;
}

.InfoBox {
    border: 1px solid darkcyan;
    border-radius: 4px;
    padding: 1em;
}
