.SandboxSettingsContainer {
    background: var(--bg2);
    border: 0.0625rem solid var(--border);
    border-radius: var(--radius);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .SectionTitle {
        font-size: 0.875rem;
        font-weight: 600;
        color: var(--fg);
    }
}
