.DeployWidgetContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    gap: 1em;
}

.InputAndDisplay {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2em;
}


.Controls {
    width: 100%;
    height: 5vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .DeployButton {
        width: 100%;
        height: 100%;

        transition: all 0.2s ease-in-out;
        cursor: pointer;
        background: green;
        border-radius: 0.5em;
        border: none;
        color: white;

        &:hover {
            scale: 1.01;

            color: black;
            background: orange;
        }
    }
}

.ConfigurationInputs {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
    height: 100%;

    gap: 1em
}

.BaseInputers {
    flex: 0 0 50%;

    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 1em;
}

.VervConfigBlock {
    flex: 0 0 50%;

    display: flex;

    border: 1px solid #ccc;
    border-radius: 0.25em;
    overflow: hidden;
}

.VervConfigBlock h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.VervConfigBlock p {
    margin: 0;
}

.CheckboxWrapper {
    display: flex;

    flex-direction: row;
    align-items: center;
    gap: 0.25em;
}

.InfoMarkTooltip {
    width: 1em;
    height: 100%;

    cursor: help;
}
