.LoaderContainer {
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 5em 0 5em 0;
    height: 100%;
    width: 100%;


    .Text {
        padding: 2.5em;
        display: flex;

        justify-content: center;
        align-items: center;

        box-sizing: content-box;

        border-bottom: 4px var(--warning-color) solid;
        border-radius: var(--border-radius);
        background-color: var(--secondary-accent-bg-color);
    }
}

.Spinner {
    width: 6vh;
    height: 6vh;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
