.PageHeaderContainer {
    width: 100%;
    height: 5vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;

    background: aquamarine;
    padding: 0.125em 0.75em 0.125em 0.75em;

    box-sizing: border-box;
}

.HomeLogo {
    width: 5vh;
    height: 5vh;

    cursor: pointer;
}

.Navigation {
    width: 100%;
    height: 100%;

    display: flex;
    gap: 0.25em;

    justify-content: start;
    align-items: center;

    box-sizing: border-box;

    .NavElement {
        cursor: pointer;
        position: relative;
        padding: 0.25em 1em;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 100%;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 1px;
            height: 60%;
            background-color: mediumaquamarine;
        }
        &:last-child::after {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top: 2px solid mediumaquamarine;
            border-bottom: 2px solid mediumaquamarine;
            box-sizing: border-box;
            pointer-events: none;
            clip-path: polygon(
                    0% 0%, /* Top-left */ 0% 0%, /* Top-left */ 0% 100%, /* Bottom-left */ 0% 100% /* Bottom-left */
            );
            transition: clip-path 0.4s ease-in-out;
        }

        &:hover::before {
            clip-path: polygon(
                    0% 0%, /* Top-left */ 100% 0%, /* Top-right */ 100% 100%, /* Bottom-right */ 0% 100% /* Bottom-left */
            );
        }

        .ServiceSearch {
            box-sizing: border-box;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.Settings {
    display: flex;
    cursor: pointer;
}
