.ToastContainer {
    position: fixed;

    right: 0;
    top: calc(5vh + 1.5em);
    width: clamp(25vw, 392px, 95vw);

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.Toast {
    border: var(--accent-bg-color) 1px solid;
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    position: relative;

    background: black;

    display: flex;
    flex-direction: column;

    &.error {
        border-color: var(--error-color);
    }

    &.warn {
        border-color: var(--warning-color);
    }

    &.info {
        border-color: var(--info-color);
    }

    .Description {
        border-top: var(--accent-bg-color) solid var(--accent-bg-color) 1px;
    }

    .DismissButton {
        position: absolute;

        width: 1em;
        height: 1em;

        display: flex;
        justify-content: center;
        align-items: center;

        top: 0;
        right: 1%;

        cursor: pointer;

        font-size: 2em;
    }
}
