.PortWidgetContainer {
    box-sizing: content-box;
}

.HeaderWrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    border-bottom: 1px solid black;
    padding-bottom: 0.1em;
}

.AddButton {
    width: var(--action-button-size);
    height: var(--action-button-size);

    cursor: pointer;
    transition: scale 0.25s ease;
}

.AddButton:hover {
    scale: 1.05;
}

.PortMappingWrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
}

.ActionButton {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
    align-items: center;

    width: var(--action-button-size);
    height: var(--action-button-size);

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.ActionButton:hover {
    scale: 1.05;
}
