.VcnPageContainer {
    padding: 2em;
    position: relative;

    .QuickActions {
        position: absolute;

        display: flex;
        gap: 1em;

        .Action {
            padding: 1.25em;
            width: 5em;
            height: 4em;

            border: 1px solid black;
            border-radius: 0.5em;
            background: var(--accent-bg-color);

            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all 0.2s ease-in-out;

            &:hover {
                scale: 1.05;
            }
        }

    }

    .Dialog {
        position: absolute;
        display: none;

        top: 25%;
        left: 25%;

        width: 50vw;
        height: 80vh;

        border: 1px solid black;
        border-radius: 0.5em;
        background: var(--accent-bg-color);

        &.opened {
            display: flex;
        }

        .CloseButton {
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            cursor: pointer;
        }

        .Content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 1em;
            box-sizing: border-box;
        }
    }
}
