ENVIRONMENT_AVAILABLE_PORTS=[18501:19000]
ENVIRONMENT_CLUSTER_PG_DSN=
ENVIRONMENT_CONTAINER_SUFFIX=
ENVIRONMENT_CPU_DEFAULT=0.50
ENVIRONMENT_CUSTOM_LABELS=[]
ENVIRONMENT_DISABLE_API_SECURITY=false
ENVIRONMENT_ENVIRONMENTS=[prod]
ENVIRONMENT_LOCAL_STATE_PATH=/tmp/velez/local_state.json
ENVIRONMENT_LOG_FORMAT=TEXT
ENVIRONMENT_LOG_LEVEL=Info
ENVIRONMENT_MAKOSH_EXPOSE_PORT=true
ENVIRONMENT_MAKOSH_IMAGE=
ENVIRONMENT_MAKOSH_IS_ENABLED=false
ENVIRONMENT_MAKOSH_KEY=string
ENVIRONMENT_MAKOSH_PORT=50051
ENVIRONMENT_MAKOSH_URL=makosh
ENVIRONMENT_MASTER_NODE_ADDRESS=
ENVIRONMENT_MATRESHKA_IMAGE=
ENVIRONMENT_MATRESHKA_IS_ENABLED=false
ENVIRONMENT_MATRESHKA_KEY=string
ENVIRONMENT_MATRESHKA_PORT=50050
ENVIRONMENT_MEMORY_SWAP_MB=50
ENVIRONMENT_NODE_REGION=
ENVIRONMENT_RAM_MB_DEFAULT=50
ENVIRONMENT_SHUT_DOWN_ON_EXIT=false
ENVIRONMENT_VPN_SERVER_URL=
SERVERS_MASTER_PORT=53890
