app_info:
    name: go.vervstack.ru/Velez
    version: v0.1.43
    startup_duration: 10s
servers:
    53890:
        /{GRPC}:
            module: pkg/velez_api
            gateway: /api
environment:
    - name: available_ports
      type: int
      value: ['18501:18519']
    - name: cluster_pg_dsn
      type: string
      value: ""
    - name: cpu_default
      type: float
      value: 0.5
    - name: custom_labels
      type: string
      value: [""]
    - name: disable_api_security
      type: bool
      value: false
    - name: log_format
      type: string
      value: TEXT
    - name: log_level
      type: string
      value: Info
    - name: makosh_expose_port
      type: bool
      value: true
    - name: makosh_image
      type: string
      value: vervstack/makosh:v0.0.16
    - name: makosh_is_enabled
      type: bool
      value: true
    - name: makosh_key
      type: string
      value: string
    - name: makosh_port
      type: int
      value: 50051
    - name: makosh_url
      type: string
      value: verv://makosh
    - name: master_node_address
      type: string
      value: ""
    - name: matreshka_image
      type: string
      value: vervstack/matreshka:v1.0.92
    - name: matreshka_is_enabled
      type: bool
      value: true
    - name: matreshka_key
      type: string
      value: string
    - name: matreshka_port
      type: int
      value: 50050
    - name: memory_swap_mb
      type: int
      value: 50
    - name: ram_mb_default
      type: int
      value: 50
    - name: shut_down_on_exit
      type: bool
      value: false
    - name: local_state_path
      type: string
      value: /tmp/velez/private.key
    - name: vpn_server_url
      type: string
      value: ""
