app_info:
    name: github.com/godverv/Velez
    version: v0.1.43
    startup_duration: 10s
servers:
    53890:
        /{GRPC}:
            module: pkg/velez_api
            gateway: /api
environment:
    - name: available_ports
      type: int
      value: '[18501-18519]'
    - name: cpu_default
      type: float
      value: 0.5
    - name: custom_pass_to_key
      type: string
      value: /tmp/velez/private.key
    - name: disable_api_security
      type: bool
      value: false
    - name: makosh_key
      type: string
      value: string
    - name: makosh_port
      type: int
      value: "50051"
    - name: matreshka_port
      type: int
      value: "50050"
    - name: memory_swap_mb
      type: int
      value: "50"
    - name: node_mode
      type: bool
      value: true
    - name: portainer_enabled
      type: bool
      value: false
    - name: ram_mb_default
      type: int
      value: "50"
    - name: shut_down_on_exit
      type: bool
      value: false
    - name: watch_tower_enabled
      type: bool
      value: true
    - name: watch_tower_interval
      type: duration
      value: 1m0s
    - name: makosh_expose_port
      type: bool
      value: true
    - name: makosh_url
      type: string
      value: verv://makosh
    - name: makosh_image
      type: string
      value: godverv/makosh:v0.0.8
    - name: matreshka_image
      type: string
      value: godverv/matreshka-be:v1.0.47
