.EditS3BucketAccessDialogContainer {
    width: 24rem;
    max-width: var(--dialog-max-width);

    & .FieldsWrapper {
        display: flex;
        flex-direction: column;
        gap: 0.875rem;
    }

    & .ActionsRow {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
    }
}
