.PortMappingContainer {
    width: 100%;
    height: 100%;
    padding: 1em;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.25em;
}

.PortsPair {
    display: flex;
}

.MapArrow {
    width: 1em;
    height: 1em;
}

.Port {
    cursor: help;
}

.OpenPort {
    cursor: pointer;

    transition: scale 0.25s ease;
}

.OpenPort:hover {
    color: darkcyan;
    scale: 1.1;
}
