.PortMappingContainer {
    width: 100%;
    height: 100%;
    padding: 0.25em;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.25em;

    box-sizing: border-box;
}

.PortsPair {
    display: flex;

    justify-content: center;
    align-items: center;
}

.MapArrow {
    width: 1em;
    height: 1em;
}

.Port {
    width: 100%;
    height: 100%;

    cursor: help;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.OpenPort {
    cursor: pointer;
    width: 1em;

    transition: scale 0.25s ease;

    display: flex;
    justify-content: center;
    align-items: start;
}

.OpenPort:hover {
    color: darkcyan;
    scale: 1.1;
}
