.HomeContainer {
    display: flex;

    flex-direction: column;

    gap: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    height: 100vh;
    width: 100vw;

    .ServicesDashboard {
        display: flex;
        box-sizing: border-box;
        padding: 1em;

        width: 100%;
        height: 100%;
    }
}

.ServiceCardContainer {
    width: 15em;
    height: 15em;
    box-sizing: border-box;
    padding: 0.5em;

    border-bottom: var(--info-color) 0.25em solid;
    background: var(--accent-bg-color);
    border-radius: var(--border-radius);

    transition: scale 0.25s ease;

    &:hover {
        scale: 1.05;
        cursor: pointer;
    }
    /*TODO remove this when more basic info appears e.g logo, alerts, group|vertical|envs -  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
