.Home {
    display: flex;

    flex-direction: column;

    gap: 0;
    justify-content: space-around;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
}

.Smerds {
    flex: 5;
    border-right: gray 1px solid;
}

.ControlServices {
    flex: 1;
}
