.HomeContainer {
    display: flex;

    flex-direction: column;

    gap: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
}
