.activityPoint {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    display: inline-block;
}

.unknown {
    background-color: var(--ping-unknown);
}

.active {
    background-color: var(--ping-health);
    animation: blink 1.5s infinite ease-in-out;
}

.inactive {
    background-color: var(--ping-disabled);
    cursor: not-allowed;
}

@keyframes blink {
    0%, 100% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
}
