.InputContainer {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.InputContainer input {
    height: 100%;
    width: 100%;

    padding: 0.75em 12px 0.75em;

    box-sizing: border-box;

    background: var(--secondary-bg-color);
    color: var(--secondary-fg-color);

    font-size: 16px;
    outline: none;

    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    text-justify: distribute-center-last;

    &.Disabled {
        cursor: not-allowed;
    }
}

.InputContainer:not(.Borderless) input {
    border: 1px solid var(--secondary-bg-color);
    border-radius: 4px;
    transition: border-color 0.2s;
}

.InputContainer:not(.Borderless) input:focus {
    border-color: var(--accent-bg-color);
}

.Label {
    position: absolute;
    top: 50%;
    left: 12px;
    margin-right: 2px;

    transform: translateY(-50%);

    background: var(--secondary-bg-color);
    color: #999;

    pointer-events: none;

    transition: all 0.2s ease;
    padding: 0 4px;
    font-size: clamp(1px, 16px, 32px);

    box-sizing: border-box;

    border-radius: 0.25em;
}

.Label.Floating {
    top: 0;
    transform: translateY(-50%) scale(0.85);
    color: var(--accent-fg-color);
    left: 8px;
}


.Hint {
    position: absolute;
    right: 0;
}
