.MiniBarContainer {
    height: 0.1875rem; /* 3px */
    background: var(--bg4);
    border-radius: 99px;
    overflow: hidden;
    width: 100%;
}

.fill {
    height: 100%;
    border-radius: 99px;
    transition: width 0.6s ease;
}
