.SearchContainer {
    display: flex;
    align-items: center;
    flex-direction: row;

    position: relative;

    width: 100%;
    height: 100%;

    border: 1px solid #ccc;
    border-radius: 4px;
}

.SearchImage {
    width: 3em;
    height: 3em;
    box-sizing: border-box;
    padding: 8px;
}
